name = "ujianpro"
compatibility_date = "2026-09-30"
pages_build_output_dir = "."

[[d1_databases]]
binding = "DB"
database_name = "ujianpro-db"
database_id = "PASTE_D1_DATABASE_ID_HERE"
preview_database_id = "DB"

[[r2_buckets]]
binding = "MEDIA"
bucket_name = "ujianpro-evidence"
